@page
@model ForgotPasswordConfirmation
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = Labels.general_signin_forgotpasswordconfirm_title;
}

<h1>@ViewData["Title"]</h1>
<p> @Labels.general_signin_forgotpasswordconfirm_desc </p>
