@page
@model ForgotPasswordModel<User>
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = @Labels.general_signin_forgotpassword;
}

<h1>@ViewData["Title"]</h1>
<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">@Labels.general_signin_resetpassword</button>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
