@inject IAuthorizationService AuthorizationService

<h1>Product Management</h1>
<br />
@if ((AuthorizationService.AuthorizeAsync(User, DefaultPermissions.Products.Create)).Result.Succeeded)
{
    <button class="btn btn-success">Create</button>
}
@if ((AuthorizationService.AuthorizeAsync(User, DefaultPermissions.Products.View)).Result.Succeeded)
{
    <button class="btn btn-info">View</button>
}
@if ((AuthorizationService.AuthorizeAsync(User, DefaultPermissions.Products.Edit)).Result.Succeeded)
{
    <button class="btn btn-warning">Modify</button>
}
@if ((AuthorizationService.AuthorizeAsync(User, DefaultPermissions.Products.Delete)).Result.Succeeded)
{
    <button class="btn btn-danger">Delete</button>
}