@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = Labels.general_roles;
}

@section Header {
    <div class="header-container d-flex justify-content-center align-items-center">

        <form class="d-inline" method="post" asp-action="addrole" asp-controller="roles">
            <div class="input-group">
                <input name="roleName" class="form-control form-control-sm w-25">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-info">Add New Role</button>
                </span>
            </div>
        </form>
    </div>
}

<main class="container-xxl py-2 mx-auto" role="main">
    <div class="align-items-center p-3 my-3 bg-body rounded shadow-sm">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Role </th>
                    <th> Id </th>
                    <th style="width:10%"> Actions </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var role in Model)
                {
                    <tr>
                        <td> @role.Name </td>
                        <td> @role.Id </td>
                        <td class="text-right">
                            <div class="btn-group">
                                @if (role.Name != Brupper.AspNetCore.Identity.Services.Users.IdentityConstants.Roles.SuperAdmin)
                                {
                                    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu shadow animated--grow-in">
                                        @*<a class="dropdown-item"><i class="fas fa-pencil-alt"></i> Edit</a><form class="d-inline"><a class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a></form>*@
                                        <a style='margin-right:16px' asp-controller="Permission" asp-action="Index" asp-route-roleId="@role.Id" class="dropdown-item">
                                            <i class="fas fa-wrench"></i> Manage Permissions
                                        </a>

                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>